<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Detection</title>
    <link rel="stylesheet" href="/web/static/css/styles.css">
</head>
<body>
    <div class="hero">
        <div class="hero-content">
            <h1>Sign Language Detection</h1>
            <p>Welcome to our Sign Language Detection System. This application allows you to detect and interpret sign language gestures using real-time video processing. Choose one of the following options to get started:</p>
        </div>
    </div>
    <div class="container">
        <a href="/web/templates/detect.html" class="button button-detect">Detect the Sign</a>
        <a href="/web/templates/custom.html" class="button button-custom">Custom Sign</a>
    </div>
    <script src="/web/static/js/script.js"></script>
</body>
</html>
